* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: auto;
}

button {
  cursor: pointer;
}

button {
  margin: 24px 32px;
  padding: 12px 24px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 12px;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#btn-parent {
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: darkblue;
}

.all-books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px 3%;
}
.all-books > div {
  box-shadow: 8px 12px 24px #ccc;
  padding: 16px 5%;
  border-radius: 12px;
}
.all-books h2 {
  padding: 8px 0;
}
.all-books h4 {
  padding: 8px 0 3px;
}