/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* variables */
:root {
  --primary: #222;
  --button-bg: #00f;
}
/* Button Styles */
button {
  cursor: pointer;
  margin: 24px 32px;
  padding: 12px 24px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 12px;
}
button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
button:hover {
  background-color: #000;
}
h1 {
  text-align: center;
  padding: 48px 0;
}
/* Navbar Styles */
nav {
  background-color: var(--primary);
  padding: 12px 64px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 2;
}
nav img {
  width: 150px;
}
nav .hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}
nav ul {
  padding: 0 6%;
  display: flex;
  gap: 0 36px;
}
nav li {
  list-style-type: none;
  color: #fff;
  font-size: 18px;
  padding: 12px 18px;
  border-radius: 12px;
}
nav li:hover {
  background-color: #333;
  color: cyan;
}
nav a {
  text-decoration: none;
}
/* Main Sections' styles */
main {
  max-width: 1200px;
  margin: 96px 32px;
}
/* Loading Skeleton's style */
#parent-skeletons {
  margin-top: 96px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 3%;
}
.loading-skeleton {
  margin-bottom: 18px;
  border-radius: 8px;
  line-height: 100%;
  width: 100%;
  background-color: #fff;
  background: linear-gradient(100deg, rgba(232,232,232,1) 20%, rgba(250,250,250,1) 50%, rgba(232,232,232,1) 60%);
  background-size: 1000px 1000px;
  animation: skeleton 1.5s linear infinite forwards;
}
@keyframes skeleton {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}
.loading-skeleton.circle {
  border-radius: 50%;
}
/* Books View */
@keyframes books-in-view {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.books-view {
  animation-name: books-in-view;
  animation-duration: 1.2s;
  animation-timing-function: ease;
}
.books-view h3, p {
  padding: 8px 0 0;
}
#page-number {
  text-align: center;
  padding: 12px 0;
}
/* Books Grid */
.all-books {
  display: grid;
  justify-content: center;
  margin: 32px 0;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px 3%;
}
.all-books > div {
  box-shadow: 8px 12px 24px #ccc;
  padding: 16px 5%;
  border-radius: 12px;
}
.all-books h2 {
  padding: 8px 0;
}
.all-books h4 {
  padding: 8px 0 3px;
}
#wish-icon {
  cursor: pointer;
  text-align: center;
  margin: 12px auto;
}
.all-books > div:hover {
  background-color: #eee;
}
/* Book Cover */
.book-cover {
  height: 150px;
  position: relative;
}
.book-cover img {
  width: 100%;
  height: 100%;
}
/* Pagination's Button's styles */
#btn-parent-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#btn-parent-pagination button {
  background-color: var(--button-bg);
}
#btn-parent-pagination button:hover {
  background-color: darkblue;
}
#btn-parent-pagination h4 {
  color: var(--button-bg);
}
#btn-pagination {
  display: flex;
  justify-content: center;
}
/* Single Book's Styles */
.each-book {
  max-width: 768px;
  margin: auto;
  box-shadow: 8px 12px 24px #ccc;
  padding: 16px 5%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.each-book img {
  margin-bottom: 32px;
}
.each-book h3, p {
  padding: 8px 0;
}
#each-book-subjects {
  margin: 12px auto;
}
#each-book-subjects table, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
}
#each-book-subjects tr:nth-child(even) {
  background-color: #f2f2f2;
}
#each-book-author {
  font-weight: bold;
  font-size: 20px;
}
@keyframes anim-cover {
  0% {
    height: 100%;
    transform: translateY(0);
  }
  100% {
    height: 110%;
    transform: translateY(-10%);
  }
}
.book-cover img:hover {
  animation-name: anim-cover;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
/* Search & Filter styles */
.search-filter {
  display: flex;
  justify-content: space-between;
  gap: 0 36px;
}
.search-input {
  width: 30%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}

/* Change border color on focus */
.search-input:focus {
  border-color: #007bff;
  outline: none;
}

/* Styles for the select dropdown */
.select-dropdown {
  /* width: 100%; */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.3s;
  cursor: pointer;
}
/* Change border color on focus */
.select-dropdown:focus {
  border-color: #007bff;
  outline: none;
}
/* Styles for the options inside the select dropdown */
.select-dropdown option {
  padding: 10px;
}

.wishlist-item {
  transition: all 1.5s ease;
  opacity: 1;
}

@keyframes fadeaway {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30vh);
  }
}

.wishlist-item.removing {
  animation-name: fadeaway;
  animation-duration: 0.5s;
}
/* Footer's Styles */
footer {
  background-color: var(--primary);
  color: #fff;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* ---------------------- Responsive Styles ---------------------- */
@media(max-width: 1024px) {
  .all-books {
    display: grid;
    margin: 32px 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 3%;
  }
}

/* Tablets & Phones */
@media (max-width: 768px) {
  /* Navbar */
  nav ul {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--primary);
    flex-direction: column;
    display: none;
    padding: 12px 0;
  }
  nav ul.open {
    display: flex;
    opacity: 0.9;
  }
  nav .hamburger {
    display: block;
  }
  nav li {
    width: 100%;
    text-align: center;
  }
  /* Book Grids */
  .all-books {
    display: grid;
    margin: 32px 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 3%;
  }
}

@media (max-width: 576px) {
  /* Book Grids */
  .all-books {
    display: grid;
    margin: 32px 0;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px 3%;
  }
}