/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Button Styles */
button {
  cursor: pointer;
  margin: 24px 32px;
  padding: 12px 24px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 12px;
}
button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
button:hover {
  background-color: darkblue;
}
h1 {
  text-align: center;
  padding: 48px 0;
}
/* Navbar Styles */
nav {
  background-color: #222;
  padding: 24px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  /* opacity: 0.9; */
}
nav ul {
  padding: 0 6%;
  display: flex;
  justify-content: end;
  gap: 0 18px;
}
nav li {
  list-style-type: none;
  color: #eee;
  font-size: 18px;
}
nav a {
  text-decoration: none;
}
/* Main Sections' styles */
main {
  max-width: 1200px;
  margin: auto;
  margin-top: 80px;
}

#btn-parent {
  display: flex;
  justify-content: center;
}

.all-books {
  display: grid;
  margin: 32px 0;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px 3%;
}
.all-books > div {
  box-shadow: 8px 12px 24px #ccc;
  padding: 16px 5%;
  border-radius: 12px;
}
.all-books h2 {
  padding: 8px 0;
}
.all-books h4 {
  padding: 8px 0 3px;
}
#wish-icon {
  cursor: pointer;
  text-align: center;
  margin: 12px auto;
}
.all-books > div:hover {
  background-color: #eee;
}
.book-cover {
  height: 150px;
  position: relative;
}
.book-cover img {
  width: 100%;
  height: 100%;
}
@keyframes anim-cover {
  0% {
    height: 100%;
    transform: translateY(0);
  }
  100% {
    height: 110%;
    transform: translateY(-10%);
  }
}
.book-cover img:hover {
  animation-name: anim-cover;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
/* Search & Filter styles */
.search-filter {
  display: flex;
  flex-direction: row-reverse;
  gap: 0 36px;
}
.search-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}

/* Change border color on focus */
.search-input:focus {
  border-color: #007bff;
  outline: none;
}

/* Styles for the select dropdown */
.select-dropdown {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.3s;
  cursor: pointer;
}
/* Change border color on focus */
.select-dropdown:focus {
  border-color: #007bff;
  outline: none;
}
/* Styles for the options inside the select dropdown */
.select-dropdown option {
  padding: 10px;
}

.wishlist-item {
  transition: all 1.5s ease;
  opacity: 1;
}

@keyframes fadeaway {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30vh);
  }
}

.wishlist-item.removing {
  animation-name: fadeaway;
  animation-duration: 0.5s;
}